{% include "balde-markdown.h" %}{% include "helpers.h" %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:700,400" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', FALSE, 'screen.css') }}" />
    <title>{{ title(content) }}</title>
  </head>
  <body>
    <div id="content">

<!-- begin markdown parsed content -->

{{ markdown(content) }}

<!-- end markdown parsed content -->

    </div>
    <footer>
      <p>Proudly published with <a href="{{ bluster_url }}">bluster</a></p>
    </footer>
  </body>
</html>
