#!/bin/bash

export BLUSTER_GIST_ID="{{ gist_id }}"
{% if gist_ttl -%}
export BLUSTER_GIST_TTL={{ gist_ttl }}
{%- endif %}
{% if oauth_token -%}
export BLUSTER_OAUTH_TOKEN="{{ oauth_token }}"
{%- endif %}
{% if fastcgi_threads -%}
export BALDE_FASTCGI_THREADS={{ fastcgi_threads }}
{%- endif %}

exec {{ prefix }}/bin/spawn-fcgi -C 0 -p 8080 -n -- {{ prefix }}/bin/bluster
